@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');

* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
   font-family: 'Open Sans', sans-serif;
}

a {
   text-decoration: none;
}

body {
   background-color: #F1F2F4
}

/*******************************************************************************************************************************************************/



/* COLORES (NO DE FONDO)*/

.blue-100 {
   color: #D9EBFC;
}

.blue-200 {
   color: #A3CDF2;
}

.blue-300 {
   color: #6EAFE1;
}

.blue-400 {
   color: #458FC8;
}

.blue-500 {
   color: #246FA9;
}

.blue-600 {
   color: #246FA9;
}

.blue-700 {
   color: #154061;
}

.blue-800 {
   color: #0D283D;
}

.blue-900 {
   color: #051119;
}

.green-100 {
   color: #D9FFFC;
}

.green-200 {
   color: #A3FFF2;
}

.green-300 {
   color: #6CFFE2;
}

.green-400 {
   color: #36F2CB;
}

.green-500 {
   color: #0ED5AE;
}

.green-600 {
   color: #0BA889;
}

.green-700 {
   color: #087B64;
}

.green-800 {
   color: #054D3F;
}

.green-900 {
   color: #02201A;
}

.grey-200 {
   color: #E8EBED;
}

.grey-300 {
   color: #E1E4E6;
}

.grey-400 {
   color: #D9DCDE;
}

.grey-500 {
   color: #A3A9B4;
}

.grey-600 {
   color: #6C7786;
}

.grey-700 {
   color: #364555;
}

.grey-800 {
   color: #001223;
}

.grey-900 {
   color: #000E1C;
}


.red-100 {
   color: #FFD9E0;
}

.red-200 {
   color: #FFA5B9;
}

.red-300 {
   color: #FF7C97;
}

.red-400 {
   color: #FE5C7B;
}

.red-500 {
   color: #E94464;
}

.red-600 {
   color: #B8364F;
}

.red-700 {
   color: #86273A;
}

.red-800 {
   color: #551924;
}

.red-900 {
   color: #230A0F;
}


.yellow-100 {
   color: #FFF9D9;
}

.yellow-200 {
   color: #FFEDA3;
}

.yellow-300 {
   color: #FFDB6C;
}

.yellow-400 {
   color: #FFC536;
}

.yellow-500 {
   color: #F8AA00;
}

.yellow-600 {
   color: #C38600;
}

.yellow-700 {
   color: #8F6200;
}

.yellow-800 {
   color: #5A3E00;
}

.yellow-900 {
   color: #230A0F;
}

.white {
   color: white;
}

.black-100 {
   color: #051119
}

.black-200 {
   color: #010304
}

/* COLORES (NO DE FONDO)*/

/* COLORES DE FONDO */
.bg-black {
   background-color: #010304 !important;
}

.bg-grey-200 {
   background-color: #E8EBED !important;
}

.bg-grey-500 {
   background-color: #A3A9B4 !important;
}

.bg-grey-600 {
   background-color: #6C7786 !important;
}

.bg-grey-400 {
   background-color: #D9DCDE !important;
}

.bg-white {
   background-color: white !important;
}


.bg-blue-100 {
   background-color: #D9EBFC !important;
}

.bg-blue-200 {
   background-color: #A3CDF2 !important;
}

.bg-blue-300 {
   background-color: #6EAFE1 !important;
}

.bg-blue-400 {
   background-color: #458FC8 !important;
}

.bg-blue {
   background-color: #246FA9 !important;
}

.bg-blue-600 {
   background-color: #246FA9 !important;
}

.bg-blue-700 {
   background-color: #154061 !important;
}

.bg-blue-800 {
   background-color: #0D283D !important;
}

.bg-blue-900 {
   background-color: #051119 !important;
}



.bg-green {
   background-color: #0ED5AE !important;
}

.bg-red {
   background-color: #E94464 !important;
}

.bg-yellow {
   background-color: #F8AA00 !important;
}

.bg-app {
   background-color: #F1F2F4 !important;
}

.bg-bluegradient {
   background: linear-gradient(75.4deg, #1C5785 9.81%, #266DA8 90.19%) !important;
}

.bg-goopengradient {
   background: linear-gradient(75.4deg, #08BEA9 9.81%, #266DA8 90.19%) !important;
}

/* COLORES DE FONDO */

/* TYPO */

.title-1 {
   font-style: normal;
   font-weight: normal;
   font-size: 48px;
}

.title-1-b {
   font-style: normal;
   font-weight: bold;
   font-size: 48px;
}

.title-2 {
   font-style: normal;
   font-weight: normal;
   font-size: 40px;
}

.title-2-b {
   font-style: normal;
   font-weight: bold;
   font-size: 40px;
}

.title-3 {
   font-style: normal;
   font-weight: normal;
   font-size: 32px;
}

.title-3-b {
   font-style: normal;
   font-weight: bold;
   font-size: 32px;
}

.title-4 {
   font-style: normal;
   font-weight: normal;
   font-size: 24px;
}

.title-4-b {
   font-style: normal;
   font-weight: bold;
   font-size: 24px;
}

.text-big {
   font-style: normal;
   font-weight: normal;
   font-size: 24px;
}

.text-big-b {
   font-style: normal;
   font-weight: bold;
   font-size: 24px;
}

.text-medium {
   font-style: normal;
   font-weight: normal;
   font-size: 16px;
}

.text-medium-b {
   font-style: normal;
   font-weight: bold;
   font-size: 16px;
}

.text-small {
   font-style: normal;
   font-weight: normal;
   font-size: 12px;
}

.text-small-b {
   font-style: normal;
   font-weight: bold;
   font-size: 12px;
}

.text-list {
   font-style: normal;
   font-weight: normal;
   font-size: 12px;
   letter-spacing: 0.03em;
}

.text-list-b {
   font-style: normal;
   font-weight: bold;
   font-size: 12px;
   letter-spacing: 0.03em;
}

.text-caption {
   font-style: normal;
   font-weight: normal;
   font-size: 12px;
   letter-spacing: 1.13px;
   text-transform: uppercase;
}

.text-caption-b {
   font-style: normal;
   font-weight: bold;
   font-size: 12px;
   letter-spacing: 1.13px;
   text-transform: uppercase;
}

.text-nav {
   font-style: normal;
   font-weight: bold;
   font-size: 8px;
}

/* TYPO */

/* alinear */

.flex-column {
   display: flex !important;
   flex-direction: column !important;
}


.flex-column-center {
   display: flex !important;
   flex-direction: column !important;
   justify-content: center !important;
   align-items: center !important;
}



.flex-row {
   display: flex !important;
   flex-direction: row !important
}

.justify-content-center {
   justify-content: center !important;
}

.justify-content-between {
   justify-content: space-between !important
}

.justify-content-around {
   justify-content: space-around !important
}

.justify-content-start {
   justify-content: flex-start !important
}

.justify-content-end {
   justify-content: flex-end !important;
}

.align-items-start {
   align-items: flex-start !important;
}

.align-items-end {
   align-items: flex-end !important;
}

.align-items-center {
   align-items: center !important;
}

.align-items-unset {
   align-items: unset !important
}

.align-self-start {
   align-self: start !important
}

.align-self-end {
   align-self: end !important
}

.align-self-center {
   align-self: center !important
}


.text-center {
   text-align: center !important;
}

.text-right {
   text-align: right !important;
}

.text-left {
   text-align: left !important;
}

.flex-wrap {
   flex-wrap: wrap;
}

.flex-no-wrap {
   flex-wrap: nowrap;
}


/* alinear */



/*margin */
.m-t-4 {
   margin-top: 4px
}

.m-t-8 {
   margin-top: 8px
}

.m-t-16 {
   margin-top: 16px
}

.m-t-24 {
   margin-top: 24px
}

.m-t-32 {
   margin-top: 32px
}

.m-t-40 {
   margin-top: 40px
}

.m-t-48 {
   margin-top: 48px
}

.m-t-56 {
   margin-top: 56px
}

.m-t-64 {
   margin-top: 64px
}

.m-t-72 {
   margin-top: 72px
}

.m-b-4 {
   margin-bottom: 4px
}

.m-b-8 {
   margin-bottom: 8px
}

.m-b-16 {
   margin-bottom: 16px
}

.m-b-24 {
   margin-bottom: 24px
}

.m-b-32 {
   margin-bottom: 32px
}

.m-b-40 {
   margin-bottom: 40px
}

.m-b-48 {
   margin-bottom: 48px
}

.m-b-56 {
   margin-bottom: 56px
}

.m-b-64 {
   margin-bottom: 64px
}

.m-b-72 {
   margin-bottom: 72px
}

.m-l-4 {
   margin-left: 4px
}

.m-l-8 {
   margin-left: 8px
}

.m-l-16 {
   margin-left: 16px
}

.m-l-24 {
   margin-left: 24px
}

.m-l-32 {
   margin-left: 32px
}

.m-l-40 {
   margin-left: 40px
}

.m-l-48 {
   margin-left: 48px
}

.m-l-56 {
   margin-left: 56px
}

.m-l-64 {
   margin-left: 64px
}

.m-l-72 {
   margin-left: 72px
}

.m-r-4 {
   margin-right: 4px
}

.m-r-8 {
   margin-right: 8px
}

.m-r-16 {
   margin-right: 16px
}

.m-r-24 {
   margin-right: 24px
}

.m-r-32 {
   margin-right: 32px
}

.m-r-40 {
   margin-right: 40px
}

.m-r-48 {
   margin-right: 48px
}

.m-r-56 {
   margin-right: 56px
}

.m-r-64 {
   margin-right: 64px
}

.m-r-72 {
   margin-right: 72px
}


.m-4 {
   margin: 4px
}

.m-8 {
   margin: 8px
}

.m-16 {
   margin: 16px
}

.m-32 {
   margin: 32px
}

.m-40 {
   margin: 40px
}

.m-48 {
   margin: 48px
}

.m-56 {
   margin: 56px
}

.m-64 {
   margin: 64px
}

.m-72 {
   margin: 72px
}

/*margin */

/*padding */

.p-4 {
   padding: 4px
}

.p-8 {
   padding: 8px
}

.p-16 {
   padding: 16px
}

.p-24 {
   padding: 24px
}

.p-32 {
   padding: 32px
}

.p-40 {
   padding: 40px
}

.p-48 {
   padding: 48px
}

.p-56 {
   padding: 56px
}

.p-64 {
   padding: 64px
}

.p-72 {
   padding: 72px
}


.p-t-4 {
   padding-top: 4px
}

.p-t-8 {
   padding-top: 8px
}

.p-t-16 {
   padding-top: 16px
}

.p-t-24 {
   padding-top: 24px
}

.p-t-32 {
   padding-top: 32px
}

.p-t-40 {
   padding-top: 40px
}

.p-t-48 {
   padding-top: 48px
}

.p-t-56 {
   padding-top: 56px
}

.p-t-64 {
   padding-top: 64px
}

.p-t-72 {
   padding-top: 72px
}

.p-b-4 {
   padding-bottom: 4px
}

.p-b-8 {
   padding-bottom: 8px
}

.p-b-16 {
   padding-bottom: 16px
}

.p-b-24 {
   padding-bottom: 24px
}

.p-b-32 {
   padding-bottom: 32px
}

.p-b-40 {
   padding-bottom: 40px
}

.p-b-48 {
   padding-bottom: 48px
}

.p-b-56 {
   padding-bottom: 56px
}

.p-b-64 {
   padding-bottom: 64px
}

.p-b-72 {
   padding-bottom: 72px
}

.p-l-4 {
   padding-left: 4px
}

.p-l-8 {
   padding-left: 8px
}

.p-l-16 {
   padding-left: 16px
}

.p-l-24 {
   padding-left: 24px
}

.p-l-32 {
   padding-left: 32px
}

.p-l-40 {
   padding-left: 40px
}

.p-l-48 {
   padding-left: 48px
}

.p-l-56 {
   padding-left: 56px
}

.p-l-64 {
   padding-left: 64px
}

.p-l-72 {
   padding-left: 72px
}

.p-r-4 {
   padding-right: 4px
}

.p-r-8 {
   padding-right: 8px
}

.p-r-16 {
   padding-right: 16px
}

.p-r-24 {
   padding-right: 24px
}

.p-r-32 {
   padding-right: 32px
}

.p-r-40 {
   padding-right: 40px
}

.p-r-48 {
   padding-right: 48px
}

.p-r-56 {
   padding-right: 56px
}

.p-r-64 {
   padding-right: 64px
}

.p-r-72 {
   padding-right: 72px
}



/*padding */

/* SHADOW and round */

.shadow {
   box-shadow: 0px 10px 20px rgba(13, 40, 61, 0.05);
}

.round {
   border-radius: 5px;
}

/* SHADOW and round*/


/* BOTONES*/

.button {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   padding: 8px 32px;
   text-decoration: none;
   font-style: normal;
   font-weight: bold;
   font-size: 16px;
   border-radius: 25px;
   margin-top: 16px;
   box-shadow: 0px 10px 20px rgba(13, 40, 61, 0.05);
   border: 0;
   cursor: pointer;
   margin: auto

}

.button:hover {
   transform: translateY(-2px);
   box-shadow: 0px 15px 20px rgba(13, 40, 61, 0.06);
   transition: all 0.2s ease-out 0s;
}

.button:active {
   box-shadow: none;
   transform: scale(.99);

}

.button-white {
   color: #246FA9;
   background-color: white;
}

.button-blue {
   color: white;
   background-color: #246FA9;
}

.button-green {
   color: white;
   background-color: #0ED5AE;
}

.button.float {
   position: absolute;
   bottom: -18px;
}


.minimal-button {
background-color: transparent;
outline: none;
border: none;
margin: 16px auto;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
cursor: pointer;
}

.minimal-button:hover {
   transform: translateY(-2px);
   transition: all 0.2s ease-out 0s;
}

.separator .line{
   width: 60px;
   height: 1px;
}

.separator .circle{
border-radius: 50%;
height: 10px;
width: 10px;
border: 2px solid #A3A9B4;
margin: 0 8px;
}



/*******************************************************************************************************************************************************/

h1 {
   font-size: 16px;
   line-height: 22px;
}

.container {
   width: 100%;
   max-width: 650px;
   margin: auto;
}

input {
   border: 1px solid #246FA9;
   padding: 8px;
   border-radius: 5px;
   color: #246FA9;
   font-size: 16px;
   width: 100%;
   max-width: 400px;
   padding-right: 37px;
   background-color: #F1F2F4
}

input::placeholder {
   color: #A3A9B4;
}

.search-input{
position: relative;
width: 100%;
max-width: 400px;
}

.search-input img{
   width: 35px;
   position: absolute;
   right: 3px;
   top: 26px;
}

.tabs {
   width: 100%;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   max-width: 400px
}

.tab {
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: center;
   min-width: 28%

}

.tab img {
   height: 20px;
   margin-right: 4px
}

.tab.second {
   border-left: 1px solid #6C7786;
   border-right: 1px solid #6C7786
}

.filters .filter {
   width: fit-content;
   padding: 8px 10px 8px 16px;
   border-radius: 25px;
   margin-right: 8px;
   margin-bottom: 8px;
}

.filters .filter img{
   width: 16px;
   margin-left: 5px
}

.card-catalogo.full {
   width: 100%;
   
}

.card-catalogo {
   background-image: url(https://placeimg.com/691/300/arch/grayscale);
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   height: 102px;
   width: 23%;
   border-radius: 5px;
   margin-bottom: 11px;
   margin: 6px;
   box-shadow: 0px 10px 20px rgba(13, 40, 61, 0.05);
}

@media screen and (max-width: 600px) {
   .card-catalogo {
      height: 120px;
      width: 31%;
  
   }
}

.cards-catalogo {
   position: relative;
}

@media screen and (max-width: 514px) {

   .cards-catalogo {
      justify-content: space-between
   }
   .card-catalogo {
      height: 147px;
      width: 47%;
      margin: 8px 0;
  
   }
}




.card-catalogo.card-filter {
   background-color: white;
   background-image: none;

}

.card-catalogo.card-filter img {
   width: 30px
}

.conversion {
   box-shadow: 0px 10px 20px rgba(13, 40, 61, 0.05);
   width: fit-content;
   margin: auto;
   margin-top: 16px
}

.conversion .amount {
   
}

.conversion .arrow {
   border-radius: 50%;
   height: 40px;
   width: 40px

}

.conversion .arrow img{
 width: 30px
   
}






 .range-slider {
   margin: 60px 0 0 0%;
 }
 
 .range-slider {
   width: 90%;
   margin: 32px auto 88px auto;

 }
 
 .range-slider__range {
   -webkit-appearance: none;
   width: 100%;
   height: 10px;
   border-radius: 5px;
   background: #0ED5AE;
   outline: none;
   padding: 0;
   margin: 0;
   border: 0;
   padding: 0;
   margin: 0 20px
 }
 .range-slider__range::-webkit-slider-thumb {
   -webkit-appearance: none;
           appearance: none;
   width: 20px;
   height: 20px;
   border-radius: 50%;
   background: #0D283D;
   cursor: pointer;
   transition: background 0.15s ease-in-out;
 }
 .range-slider__range::-webkit-slider-thumb:hover {
   background: #0ED5AE;
 }
 .range-slider__range:active::-webkit-slider-thumb {
   background: #0ED5AE;
 }
 .range-slider__range::-moz-range-thumb {
   width: 20px;
   height: 20px;
   border: 0;
   border-radius: 50%;
   background: #0D283D;
   cursor: pointer;
   transition: background 0.15s ease-in-out;
 }
 .range-slider__range::-moz-range-thumb:hover {
   background: #0ED5AE;
 }
 .range-slider__range:active::-moz-range-thumb {
   background: #0ED5AE;
 }
 .range-slider__range:focus::-webkit-slider-thumb {
   box-shadow: 0 0 0 3px #fff, 0 0 0 6px #0ED5AE;
 }
 
 
 ::-moz-range-track {
   background: #d7dcdf;
   border: 0;
 }
 
 input::-moz-focus-inner,
 input::-moz-focus-outer {
   border: 0;
 }
 

 .range-slider .icon {
    height: 30px;
    width: 30px
 }

 .range-slider .icon img{
   width: 34px;
}

.input-max-min {
   position: relative
}

.min, .max {
   position: absolute;
   top: 40px;
} 

.max{
   right: 0;
}

.button.canjear {
   padding: 12px 60px;
}


.card-historial {
   height: 125px;
   box-shadow: 0px 10px 20px rgba(13, 40, 61, 0.05);
   width: 47%;
   background-color: white;
   margin: 6px;
   position: relative;
}

.card-historial .type {
   position: absolute;
   top: 10px;
   right: 10px;
}

.card-historial .image{
   border-radius: 5px;
   background-image: url(https://dummyimage.com/105x66);
   width: 125px;
   height: 76px;
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   margin-left: 8px
}

@media screen and (max-width: 480px) {
   .card-historial {
   width: 92%
   }

   .cards-historial {
      justify-content: center;

   }


}


select {
   width: 70%;
   padding: 8px;
   border-radius: 5px;
   border: 1px solid #246FA9;
   color: #246FA9;
   font-size: 16px
}
option {
   font-size: 16px;
   color: #A3A9B4
}

.pill {
   display: flex;
   flex-direction: row;
   align-items: center;
   background-color: #0ED5AE;
   padding: 1px 20px 1px 3px;
   border-radius: 5px 0 0 5px ;
   width: 120px;
   margin-top: 16px
}
.pill img{
   width: 19px;
}

.dni {
   display: flex;
   flex-direction: column;
   width: 80%;
   align-items: center;
   justify-content: center;
   margin: 32px auto
}

.dni input {
   width: 70%
}


.pill.stock {
   background-color: #E94464;
   border-radius: 0 5px 5px 0;
   justify-content: flex-end;
   padding: 1px 8px 1px 3px;

}

